<ion-content>
<ion-grid>
<!-- Componente inicio -->
  <ion-row class="blankSpace">
    <ion-col></ion-col>
  </ion-row>
<!-- profile top bar -->
  <ion-row class="profileTopBar">
    <!-- pfp + name -->
    <ion-col offset="1" size="3" class="profileInfo">
      <img class="imagen-circular" src="../../../../images.png">
      <p>Name</p>
    </ion-col>
    <!-- menu ... -->
    <ion-col offset="6" size="2">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-col>
  </ion-row>


  <!-- picture -->
  <img src="https://ionicframework.com/docs/img/demos/card-media.png" class="postImg" alt="">

  <!-- icons row -->
  <ion-row class="iconsRow">
    <ion-col size="1">
      <ion-icon size="large" name="heart-outline"></ion-icon>
    </ion-col>
    <ion-col size="1">
      <ion-icon style="transform: rotate(270deg)" size="large" name="chatbubble-outline"></ion-icon>
    </ion-col>
    <ion-col size="1">
      <ion-icon style="transform: rotate(20deg)" size="large" name="paper-plane-outline"></ion-icon>
    </ion-col>
    <ion-col offset="7" size="1">
      <ion-icon size="large" name="bookmark-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <!-- post info -->

  <ion-row class="postInfo">
    <ion-col>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ab recusa... <span class="gText">more</span></p>
      <p class="postTime">30 minutes ago</p>
    </ion-col>
  </ion-row>


</ion-grid>
</ion-content>